unityproject/Library
unityproject/Temp
*.csproj
unityproject/UserSettings
unityproject/unityproject.sln
/003/launcher/build
/unityproject/Logs
/unityproject/AndroidOutPut/Android/unityLibrary/build
/unityproject/AndroidOutPut/Android_BurstDebugInformation_DoNotShip
/unityproject/AndroidOutPut
